// define the color palette

    $HL_blue: #45a4f3;
    $default_font: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;

    // general use colors
    $gray_light: #F5F5F5;
    $gray_med: #7f7f7f;
    $gray_dark: #232323;
    $red: #ea163e;
