@import 'branding';

//-------------------------- jquery ui overrides
.ui-state-highlight{
    background: #efefef;
    border-radius: 7px;
    border: 2px dashed #e5e5e5;
}

.accord_content {
    margin: 1em;
    width: unset;

    .ui-icon {

        display: none;
        background-image: unset;
    }
}
//.accord_content .ui-accordion-header a { padding-left: 0; }

//---------------------------

.chx_display_name {
    width: 400px;
}

.modal_tab_view{
    width: 100%;
    overflow-y: auto;
    height: calc(100% - 60px);
}

.HL_LO_xblock_studio{
    #HL_LO_xblock_content_wrapper {
        height: calc(100% - 60px);
        margin-bottom: 60px;
    }

    #add_new {
        color: $HL_blue;
        background:#fff;
        border: 1px solid $HL_blue;
        border-radius: 7px;
        font-weight: 600;
        margin: 1em 3em;
        padding: 3px 7px;

        transition: all .3s;

        &:hover{
            color: #fff;
            background:$HL_blue;
            border: 1px solid #fff;
        }
    }

    // styling for preview table
    .record_listing_wrapper{


        .record_listing.editable{
            display: table;

            .record_item{
                display: table-row;

                &.editable{

                    .display_cell{

                        display: table-cell;
                        padding: .2em .5em;
                        transition: all .3s;

                        vertical-align: middle;

                        border-radius: 7px;
                        border: 1px solid #00000000;

                    }

                    .controls {
                        display:none;
                        // display:table-cell;
                        transition: all .3s;

                        .control {
                            font-size: 1.4em;
                            border-radius: 7px;
                            cursor: pointer;
                            padding: .2em;
                            transition: all .3s;
                            margin: 0 .2em;
                            box-shadow: #00000000 0 0 0 0;

                            &.edit_btn {
                                color: $HL_blue;

                                &:hover {
                                    color: #fff;
                                    background: $HL_blue;
                                    box-shadow: #00000044 0.1em 0.2em 0.3em 0.05em;
                                }
                            }

                            &.delete_btn {
                                color: $red;

                                &:hover {
                                    color: #fff;
                                    background: $red;
                                    box-shadow: #00000044 0.1em 0.2em 0.3em 0.05em;

                                }
                            }
                            &.move_btn {
                                color: $gray_med;
                                cursor: grab;

                                &:hover {
                                    color: #fff;
                                    background: $gray_med;
                                    box-shadow: #00000044 0.1em 0.2em 0.3em 0.05em;

                                }
                            }

                        }
                    }

                }

                &:hover{
                    .display_cell{
                        border: 1px solid $HL_blue;
                    }
                    .controls{
                        display:table-cell;
                        //border: 1px solid $HL_blue;
                    }
                }
            }
        }
    }

    .child_form{
        padding: 1em 1.5em;
    }

    .learning_level_wrapper{
        label{
            padding: 0 .5em;
        }

        .learning_level_selection{
            .learning_level_option{

            }
        }
        .verb_selection_wrapper{
            display:none;

            .learning_verb_separator {
                padding: 0 .5em;
                color: $HL_blue;
            }

            &.active{
                display:inline-block;
            }

            .learning_verb_selection{
                display:none;

                &.active{
                    display:inline-block;
                }

                .verb_option{

                }
            }
        }

    }

    .ABET_selection_wrapper{
        .ABET_Label{
            display:block;

            .ABET_input{

            }
        }
    }
}

// this modal requires some special styling to display properly
// .modal-type-hl_learning_objs{
//     .edit-xblock-modal{
//         display: flex;
//         flex-flow: column;
//         height: 100%;
//
//         .modal-header{
//             flex-grow: unset;
//         }
//         .modal-content {
//         	overflow: hidden !important;
//             flex-grow: 1;
//
//             .xblock-editor, .xblock-studio_view, .HL_LO_xblock_studio, .modal_tab_view{
//                 height: 100%;
//             }
//         }
//         .modal-actions {
//             flex-grow: unset;
//         }
//     }
// }


$wizard_padding: 1em;
$crumb-height: 1.5em;
$gutter: 1em;
$actions-container: 60px;

#learning_obj_listing{
    h3 {
        font-size: 1.2em;
        font-weight: 600;
    }
}

#learning_obj_creation{
    // height:100%;
    //  for some reason this div has a vertical gap before it,
    //  shrink to alleviate
    height: calc(100% - 8px);

    #editor-crumb{
        height: $crumb-height;
        background: #efefef;
        margin: .5em 1em 0;
        padding: .5em 1em;
        border-radius: 7px;

        a{
            cursor:pointer;
        }
    }

    .wizard {


        // display:table;
        display: flex;
        flex-flow: column;

        width: calc(100% - #{$wizard_padding * 2 + $gutter});
        height: calc(100% - #{$crumb-height + $wizard_padding * 2 + $gutter});

        padding: $wizard_padding;

        .steps {
            //position: absolute;
            //top: 5px;
            //width: 95%;
            // display: table-row;
            flex-grow:0;

            &:before, &:after {
                content: none;
            }

            ul {
                // display:table-cell;


                li {
                    width:unset;
                    float:unset;
                    display:inline-block;

                    a {
                        margin: 0 5px 5px;
                        padding: 5px 7px;

                        .number {
                            font-size: inherit;
                        }

                        &:hover{
                            padding: 5px 7px;
                            margin: 0 5px 5px;
                        }

                    }

                    &.current{
                        a{
                            background: $HL_blue;
                            font-weight: bold;
                        }
                    }

                    &.error{
                        a{
                            background: $red;
                            font-weight: bold;
                        }
                    }
                }


            }

        }

        .content{
            overflow: auto;
            // display:table-row;
            flex-grow: 1;
            background: none;

            width: 100%;
            min-width: unset;
            max-width: unset;

            min-height: unset;
            //position: absolute;
            //position: relative;

            //top:40px;
            //width: 95%;


            // margin-bottom: 50px;

            .body{
                // display: table-cell;
                padding: 10px 25px;
                position: inherit;

                background: #eee;
                border-radius: 7px;
                height: calc(100% - 20px);
                min-height: fit-content;

                width: calc(100% - 50px);
                min-width: unset;
                // potentially add min-height here to normalize display

                input[type="text"]{
                    width: 80% !important;
                }

                ul{
                    margin: 3px 2em;
                }

                .wizard_preview{
                    background: #fffedf;
                    padding: .3em 1em;
                    border-radius: 7px;
                    font-style:italic;

                    margin-bottom: 1em;
                }

                .bloom_table{
                    margin: 1em 0;

                    tr {
                        th {
                            padding: .3em .5em;
                            background: #999;
                            color: #fff;

                            font-size: 1.08em;
                            font-style: italic;
                            font-weight: 600;

                        }
                        td {
                            padding: .3em .5em;

                            &.level1{ background: #00890080; }
                            &.level2{ background: #5bb61880; }
                            &.level3{ background: #ff830080; }
                            &.level4{ background: #0087ff80; }
                            &.level5{ background: #ab00ff80; }
                            &.level6{ background: #ff000080; }

                        }
                        &:first-child {
                            th {
                                &:first-child{ border-top-left-radius: 7px;}
                                &:last-child{ border-top-right-radius: 7px;}
                            }
                        }
                        &:last-child {
                            td {
                                &:first-child{ border-bottom-left-radius: 7px;}
                                &:last-child{ border-bottom-right-radius: 7px;}
                            }
                        }


                    }

                    .bold { font-weight: bold; }
                    .whitetext {color: #fff;}
                }
            }
        }

        .actions {
            //position: relative;
            //bottom: 0;
            //right:0;
            // display: table-row;
            flex-grow:0;

            &:before, &:after {
                content: none;
            }

            ul {
                // display: table-cell;
                float:right;
                padding:10px;
            }
        }

    }
}
