.chx_display_name {
    width: 400px;
}

.modal_tab_view{
    width: 100%;
}

.HL_LO_xblock_studio{
    .child_form{
        padding: 1em 1.5em;
    }

    .learning_level_wrapper{
        .learning_level_selection{
            .learning_level_option{

            }
        }

        .learning_verb_wrapper{
            .verb_option{

            }
        }
    }

    .ABET_selection_wrapper{
        .ABET_Label{
            display:block;

            .ABET_input{

            }
        }
    }
}

// this modal requires some special styling to display properly
.modal-type-hl_learning_objs{
    .edit-xblock-modal{
        display: flex;
        flex-flow: column;
        height: 100%;

        .modal-header{
            flex-grow: unset;
        }
        .modal-content {
        	overflow: hidden !important;
            flex-grow: 1;

            .xblock-editor, .xblock-studio_view, .HL_LO_xblock_studio, .modal_tab_view{
                height: 100%;
            }
        }
        .modal-actions {
            flex-grow: unset;
        }
    }
}
