.objectives_listing{
    .record_listing_wrapper{

        .record_listing{
            list-style: decimal;
            margin: 1em 1em 1em 3em;

            .record_item{

            }
        }
    }

    ul, ol{
        margin: 1em 1em 1em 3em;
    }

    ul {
        list-style: disc;
    }

    ol {
        list-style: decimal;
    }
}
