.ui-state-highlight {
  background: #efefef;
  border-radius: 7px;
  border: 2px dashed #e5e5e5; }

.accord_content {
  margin: 1em;
  width: unset; }
  .accord_content .ui-icon {
    display: none;
    background-image: unset; }

.chx_display_name {
  width: 400px; }

.modal_tab_view {
  width: 100%;
  overflow-y: auto;
  height: calc(100% - 60px); }

.HL_LO_xblock_studio #HL_LO_xblock_content_wrapper {
  height: calc(100% - 60px);
  margin-bottom: 60px; }
.HL_LO_xblock_studio #add_new {
  color: #45a4f3;
  background: #fff;
  border: 1px solid #45a4f3;
  border-radius: 7px;
  font-weight: 600;
  margin: 1em 3em;
  padding: 3px 7px;
  transition: all .3s; }
  .HL_LO_xblock_studio #add_new:hover {
    color: #fff;
    background: #45a4f3;
    border: 1px solid #fff; }
.HL_LO_xblock_studio .record_listing_wrapper .record_listing.editable {
  display: table; }
  .HL_LO_xblock_studio .record_listing_wrapper .record_listing.editable .record_item {
    display: table-row; }
    .HL_LO_xblock_studio .record_listing_wrapper .record_listing.editable .record_item.editable .display_cell {
      display: table-cell;
      padding: .2em .5em;
      transition: all .3s;
      vertical-align: middle;
      border-radius: 7px;
      border: 1px solid #00000000; }
    .HL_LO_xblock_studio .record_listing_wrapper .record_listing.editable .record_item.editable .controls {
      display: none;
      transition: all .3s; }
      .HL_LO_xblock_studio .record_listing_wrapper .record_listing.editable .record_item.editable .controls .control {
        font-size: 1.4em;
        border-radius: 7px;
        cursor: pointer;
        padding: .2em;
        transition: all .3s;
        margin: 0 .2em;
        box-shadow: #00000000 0 0 0 0; }
        .HL_LO_xblock_studio .record_listing_wrapper .record_listing.editable .record_item.editable .controls .control.edit_btn {
          color: #45a4f3; }
          .HL_LO_xblock_studio .record_listing_wrapper .record_listing.editable .record_item.editable .controls .control.edit_btn:hover {
            color: #fff;
            background: #45a4f3;
            box-shadow: #00000044 0.1em 0.2em 0.3em 0.05em; }
        .HL_LO_xblock_studio .record_listing_wrapper .record_listing.editable .record_item.editable .controls .control.delete_btn {
          color: #ea163e; }
          .HL_LO_xblock_studio .record_listing_wrapper .record_listing.editable .record_item.editable .controls .control.delete_btn:hover {
            color: #fff;
            background: #ea163e;
            box-shadow: #00000044 0.1em 0.2em 0.3em 0.05em; }
        .HL_LO_xblock_studio .record_listing_wrapper .record_listing.editable .record_item.editable .controls .control.move_btn {
          color: #7f7f7f;
          cursor: grab; }
          .HL_LO_xblock_studio .record_listing_wrapper .record_listing.editable .record_item.editable .controls .control.move_btn:hover {
            color: #fff;
            background: #7f7f7f;
            box-shadow: #00000044 0.1em 0.2em 0.3em 0.05em; }
    .HL_LO_xblock_studio .record_listing_wrapper .record_listing.editable .record_item:hover .display_cell {
      border: 1px solid #45a4f3; }
    .HL_LO_xblock_studio .record_listing_wrapper .record_listing.editable .record_item:hover .controls {
      display: table-cell; }
.HL_LO_xblock_studio .child_form {
  padding: 1em 1.5em; }
.HL_LO_xblock_studio .learning_level_wrapper label {
  padding: 0 .5em; }
.HL_LO_xblock_studio .learning_level_wrapper .verb_selection_wrapper {
  display: none; }
  .HL_LO_xblock_studio .learning_level_wrapper .verb_selection_wrapper .learning_verb_separator {
    padding: 0 .5em;
    color: #45a4f3; }
  .HL_LO_xblock_studio .learning_level_wrapper .verb_selection_wrapper.active {
    display: inline-block; }
  .HL_LO_xblock_studio .learning_level_wrapper .verb_selection_wrapper .learning_verb_selection {
    display: none; }
    .HL_LO_xblock_studio .learning_level_wrapper .verb_selection_wrapper .learning_verb_selection.active {
      display: inline-block; }
.HL_LO_xblock_studio .ABET_selection_wrapper .ABET_Label {
  display: block; }

#learning_obj_listing h3 {
  font-size: 1.2em;
  font-weight: 600; }

#learning_obj_creation {
  height: calc(100% - 8px); }
  #learning_obj_creation #editor-crumb {
    height: 1.5em;
    background: #efefef;
    margin: .5em 1em 0;
    padding: .5em 1em;
    border-radius: 7px; }
    #learning_obj_creation #editor-crumb a {
      cursor: pointer; }
  #learning_obj_creation .wizard {
    display: flex;
    flex-flow: column;
    width: calc(100% - 3em);
    height: calc(100% - 4.5em);
    padding: 1em; }
    #learning_obj_creation .wizard .steps {
      flex-grow: 0; }
      #learning_obj_creation .wizard .steps:before, #learning_obj_creation .wizard .steps:after {
        content: none; }
      #learning_obj_creation .wizard .steps ul li {
        width: unset;
        float: unset;
        display: inline-block; }
        #learning_obj_creation .wizard .steps ul li a {
          margin: 0 5px 5px;
          padding: 5px 7px; }
          #learning_obj_creation .wizard .steps ul li a .number {
            font-size: inherit; }
          #learning_obj_creation .wizard .steps ul li a:hover {
            padding: 5px 7px;
            margin: 0 5px 5px; }
        #learning_obj_creation .wizard .steps ul li.current a {
          background: #45a4f3;
          font-weight: bold; }
        #learning_obj_creation .wizard .steps ul li.error a {
          background: #ea163e;
          font-weight: bold; }
    #learning_obj_creation .wizard .content {
      overflow: auto;
      flex-grow: 1;
      background: none;
      width: 100%;
      min-width: unset;
      max-width: unset;
      min-height: unset; }
      #learning_obj_creation .wizard .content .body {
        padding: 10px 25px;
        position: inherit;
        background: #eee;
        border-radius: 7px;
        height: calc(100% - 20px);
        min-height: fit-content;
        width: calc(100% - 50px);
        min-width: unset; }
        #learning_obj_creation .wizard .content .body input[type="text"] {
          width: 80% !important; }
        #learning_obj_creation .wizard .content .body ul {
          margin: 3px 2em; }
        #learning_obj_creation .wizard .content .body .wizard_preview {
          background: #fffedf;
          padding: .3em 1em;
          border-radius: 7px;
          font-style: italic;
          margin-bottom: 1em; }
        #learning_obj_creation .wizard .content .body .bloom_table {
          margin: 1em 0; }
          #learning_obj_creation .wizard .content .body .bloom_table tr th {
            padding: .3em .5em;
            background: #999;
            color: #fff;
            font-size: 1.08em;
            font-style: italic;
            font-weight: 600; }
          #learning_obj_creation .wizard .content .body .bloom_table tr td {
            padding: .3em .5em; }
            #learning_obj_creation .wizard .content .body .bloom_table tr td.level1 {
              background: #00890080; }
            #learning_obj_creation .wizard .content .body .bloom_table tr td.level2 {
              background: #5bb61880; }
            #learning_obj_creation .wizard .content .body .bloom_table tr td.level3 {
              background: #ff830080; }
            #learning_obj_creation .wizard .content .body .bloom_table tr td.level4 {
              background: #0087ff80; }
            #learning_obj_creation .wizard .content .body .bloom_table tr td.level5 {
              background: #ab00ff80; }
            #learning_obj_creation .wizard .content .body .bloom_table tr td.level6 {
              background: #ff000080; }
          #learning_obj_creation .wizard .content .body .bloom_table tr:first-child th:first-child {
            border-top-left-radius: 7px; }
          #learning_obj_creation .wizard .content .body .bloom_table tr:first-child th:last-child {
            border-top-right-radius: 7px; }
          #learning_obj_creation .wizard .content .body .bloom_table tr:last-child td:first-child {
            border-bottom-left-radius: 7px; }
          #learning_obj_creation .wizard .content .body .bloom_table tr:last-child td:last-child {
            border-bottom-right-radius: 7px; }
          #learning_obj_creation .wizard .content .body .bloom_table .bold {
            font-weight: bold; }
          #learning_obj_creation .wizard .content .body .bloom_table .whitetext {
            color: #fff; }
    #learning_obj_creation .wizard .actions {
      flex-grow: 0; }
      #learning_obj_creation .wizard .actions:before, #learning_obj_creation .wizard .actions:after {
        content: none; }
      #learning_obj_creation .wizard .actions ul {
        float: right;
        padding: 10px; }

/*# sourceMappingURL=cms-styling.css.map */
