<div class="ck-content">

    <h4>Examples</h4>
    <p>

        <span class="bold condition">
            Given a topographic dataset,
        </span>


        the student will be able to


        <span class="bold action">
            implement
        </span>

        <span class="bold task">
            the key steps in watershed delineation,
        </span>


        <span class="bold degree">
            including pitfilling, flow direction, flow accumulation,
            threshold assignment, and stream network extraction.
        </span>


        <span class="bold level">[Applying]</span>
    </p>

    <p>

        <span class="bold condition">
            Given a water supply and demand dataset,
        </span>

        the student will be able to


        <span class="bold action">
            assess
        </span>


        <span class="bold task">
            potential value of using non-traditional water resources to reduce water stresses,
        </span>


        <span class="bold degree">
            considering cost factors associated with the non-traditional resources
        </span>

        <span class="bold level">[Analyzing]</span>
    </p>



    <h4> <span class="condition">Condition</span></h4>
    <p>
        The condition under which the student will perform the described behavior.  Examples include:

        <ul>
            <li>Given a topographic dataset</li>
            <li>Given a water supply and demand dataset,</li>
            <li>Given a diagram of the water cycle,</li>
            <li>Using historical rain gauge data from NOAA’s Precipitation Frequency Data Server (PFDS),</li>
            <li>Using the alternating block method and Intensity-Duration-Frequency (IDF) curves,</li>
            <li>Given instructions on how to use a script language,</li>
        </ul>
    </p>



    <h4><span class="action">Action verb</span> + <span class="task">Object</span></h4>
    <p>
        A learning objective contains a verb that refers to actions associated with the intended learning level from Bloom’s Taxonomy, and an object that describes the knowledge students are expected to acquire or construct.  Examples include:

        <ul>
            <li>Implement the key steps in watershed delineation</li>
            <li>Assess potential value of using non-traditional water resources to reduce water stresses</li>
            <li>Interpret at least three sources of ground water recharge</li>
            <li>Develop Depth-Duration-Frequency (DDF) curves</li>
            <li>Develop a design-storm hyetograph</li>
            <li>Construct a simple NWM-based flood warning tool</li>
        </ul>
    </p>

    <h4>Bloom's Taxonomy Learning Levels (with examples of action verbs)</h4>
    <p>
        <ul>
            <li>Remembering:    define, describe, identify, label, list, match, name, order, recall, select</li>
            <li>Understanding:  illustrate, compare, distinguish, estimate, explain, classify, interpret, predict, summarize</li>
            <li>Applying:       organize, solve, demonstrate, discover, modify, operate, predict, prepare, produce, relate, solve, implement</li>
            <li>Analyzing:      analyze, break down, compare, select, contrast, deconstruct, discriminate, distinguishes, identify, outline</li>
            <li>Evaluating:     rank, assess, monitor, check, test, judge, Appraise, Criticize, Defend, Conclude, Critique, Justify, Support</li>
            <li>Creating:       generate, plan, compose, develop, create, invent, organize, construct, produce, compile, design, devise</li>
        </ul>
    </p>

    <h4> <span class="degree">Degree</span></h4>
    <p>
        Describe the degree or level of performance.  Examples include:

        <ul>

            <li>including pitfilling, flow direction, flow accumulation, threshold assignment, and stream network extraction</li>
            <li>considering cost factors associated with the non-traditional resources</li>
            <li>with a definition of each source and description of how it functions in the larger water cycle</li>
            <li>for at least 5 return periods between 2-year to 100-year</li>
            <li>for a prescribed temporal interval</li>
            <li>with the ability to notify users when the NWM predicts above average streamflows in a particular region</li>
        </ul>
    </p>


    <h4>Sources</h4>
    <ul>
        <li>
            Anderson, L. W., & Krathwohl, D. (Eds.). (2001). A taxonomy for
            learning, teaching, and assessing: A revision of Bloom's taxonomy
            of educational objectives. New York: Longman.
        </li>
        <li>
            Center for Excellence in Learning and Teaching (CELT). (2011). Revised
            Bloom Taxonomy. Iowa State University. Retrieved March 2019, from
            <a target="_blank" href="http://www.celt.iastate.edu/teaching/effective-teaching-practices/revised-blooms-taxonomy/">http://www.celt.iastate.edu/teaching/effective-teaching-practices/revised-blooms-taxonomy/</a>
        </li>
        <li>
            The Center for Faculty Development, University of Colorado. Assessment
            and Instructional Alignment. Retrieved March 2019, from:
            <a target="_blank" href="http://www.ucdenver.edu/faculty_staff/faculty/center-for-faculty-development/Documents/tutorials/Assessment/index.htm">http://www.ucdenver.edu/faculty_staff/faculty/center-for-faculty-development/Documents/tutorials/Assessment/index.htm</a>
        </li>
    </ul>

</div>