
<!--
    bold   { font-weight: 600; }

    condition/orange    #ffab40
    action/red      #980000
    task/blue       #6d9eeb
    degree/green    #38761d
    level/gray      #999999
-->

<div class="ck-content">

    <h4>Examples</h4>
    <p>

        <span class="bold condition">
            Given a topographic dataset,
        </span>


        the student will be able to


        <span class="bold action">
            implement
        </span>

        <span class="bold task">
            the key steps in watershed delineation,
        </span>


        <span class="bold degree">
            including pitfilling, flow direction, flow accumulation,
            threshold assignment, and stream network extraction.
        </span>


        <span class="bold level">[Applying]</span>
    </p>

    <p>

        <span class="bold condition">
            Given a water supply and demand dataset,
        </span>

        the student will be able to


        <span class="bold action">
            assess
        </span>


        <span class="bold task">
            potential value of using non-traditional water resources to reduce water stresses,
        </span>


        <span class="bold degree">
            considering cost factors associated with the non-traditional resources
        </span>

        <span class="bold level">[Analyzing]</span>
    </p>



    <h4> <span class="condition">Condition</span></h4>
    <p>
        The condition under which the student will perform the described behavior.  Examples include:

        <ul>
            <li>Given a topographic dataset</li>
            <li>Given a water supply and demand dataset,</li>
            <li>Given a diagram of the water cycle,</li>
            <li>Using historical rain gauge data from NOAA’s Precipitation Frequency Data Server (PFDS),</li>
            <li>Using the alternating block method and Intensity-Duration-Frequency (IDF) curves,</li>
            <li>Given instructions on how to use a script language,</li>
        </ul>
    </p>



    <h4><span class="action">Action verb</span> + <span class="task">Object</span></h4>
    <p>
        A learning objective contains a verb that refers to actions associated with the intended learning level from Bloom’s Taxonomy, and an object that describes the knowledge students are expected to acquire or construct.  Examples include:

        <ul>
            <li>Implement the key steps in watershed delineation</li>
            <li>Assess potential value of using non-traditional water resources to reduce water stresses</li>
            <li>Interpret at least three sources of ground water recharge</li>
            <li>Develop Depth-Duration-Frequency (DDF) curves</li>
            <li>Develop a design-storm hyetograph</li>
            <li>Construct a simple NWM-based flood warning tool</li>
        </ul>
    </p>

    <h4>Bloom's Taxonomy Learning Levels (with examples of action verbs)</h4>
    <p>
        <!-- <ul>
            <li>Remembering:    define, describe, identify, label, list, match, name, order, recall, select</li>
            <li>Understanding:  illustrate, compare, distinguish, estimate, explain, classify, interpret, predict, summarize</li>
            <li>Applying:       organize, solve, demonstrate, discover, modify, operate, predict, prepare, produce, relate, solve, implement</li>
            <li>Analyzing:      analyze, break down, compare, select, contrast, deconstruct, discriminate, distinguishes, identify, outline</li>
            <li>Evaluating:     rank, assess, monitor, check, test, judge, Appraise, Criticize, Defend, Conclude, Critique, Justify, Support</li>
            <li>Creating:       generate, plan, compose, develop, create, invent, organize, construct, produce, compile, design, devise</li>
        </ul> -->

        <table class="bloom_table">
            <tr>
                <th>Level</th>
                <th>Description</th>
                <th>Example Action Verbs</th>
            </tr>
            <tr>
                <td class="level1 whitetext bold">Level (1): Remembering</td>
                <td class="level1 whitetext">Retrieve relevant knowledge from long-term memory in the approximate form in which they were learned.</td>
                <td class="level1 whitetext">define, describe, identify, label, list, match, name, order, recall, select</td>
            </tr>
            <tr>
                <td class="level2 whitetext bold">Level (2): Understanding</td>
                <td class="level2 whitetext">Construct meaning from instructional messages. Translate, comprehend, or interpret information based on prior learning</td>
                <td class="level2 whitetext">illustrate, compare, distinguish, estimate, explain, classify, interpret, predict, summarize</td>
            </tr>
            <tr>
                <td class="level3 whitetext bold">Level (3): Applying</td>
                <td class="level3 whitetext">Carry out or use a procedure in a given situation. Select and use data and principles to complete a problem or task with a minimum of direction </td>
                <td class="level3 whitetext">organize, solve, demonstrate, discover, modify, operate, predict, prepare, produce, relate, solve, implement</td>
            </tr>
            <tr>
                <td class="level4 whitetext bold">Level (4): Analyzing</td>
                <td class="level4 whitetext">Break material into constituent parts and determine how parts relate to one another and to an overall structure or purpose. Distinguish, classify, and relate assumptions, hypotheses, evidence, or structure of a statement or question</td>
                <td class="level4 whitetext">analyze, break down, compare, select, contrast, deconstruct, discriminate, distinguishes, identify, outline</td>
            </tr>
            <tr>
                <td class="level5 whitetext bold">Level (5): Evaluating</td>
                <td class="level5 whitetext">Make judgments based on criteria or standards. Appraise, assess, or critique on a basis of specific standards and criteria</td>
                <td class="level5 whitetext">rank, assess, monitor, check, test, judge, appraise, criticize, defend, conclude, critique, justify, support</td>
            </tr>
            <tr>
                <td class="level6 whitetext bold">Level (6): Creating</td>
                <td class="level6 whitetext">Put elements together to form a coherent or functional whole; reorganize elements into a new pattern or structure. Originate, integrate, and combines ideas into a product, plan, or proposal that is new to learner</td>
                <td class="level6 whitetext">generate, plan, compose, develop, create, invent, organize, construct, produce, compile, design, devise</td>
            </tr>
        </table>
    </p>

    <h4> <span class="degree">Degree</span></h4>
    <p>
        Describe the degree or level of performance.  Examples include:

        <ul>

            <li>including pitfilling, flow direction, flow accumulation, threshold assignment, and stream network extraction</li>
            <li>considering cost factors associated with the non-traditional resources</li>
            <li>with a definition of each source and description of how it functions in the larger water cycle</li>
            <li>for at least 5 return periods between 2-year to 100-year</li>
            <li>for a prescribed temporal interval</li>
            <li>with the ability to notify users when the NWM predicts above average streamflows in a particular region</li>
        </ul>
    </p>

    <h4>ABET Outcomes</h4>
    <p> Optionally, you can also provide associated ABET. The following listing defines the expected items.</p>
    <ul>
        <li>An ability to identify, formulate, and solve complex engineering problems by applying principles of engineering, science, and mathematics</li>
        <li>An ability to apply engineering design to produce solutions that meet specified needs with consideration of public health, safety, and welfare, as well as global, cultural, social, environmental, and economic factors</li>
        <li>An ability to communicate effectively with a range of audiences</li>
        <li>An ability to recognize ethical and professional responsibilities in engineering situations and make informed judgments, which must consider the impact of engineering solutions in global, economic, environmetal, and societal contexts</li>
        <li>An ability to function effectively on a team whose members together provide leadership, create a collaborative and inclusive environmetna, establish goals, plan tasks, and meet objectives</li>
        <li>An ability to develop and conduct appropriate experimentation, analyze and interpret data, and use engineering judgement to draw conclusions</li>
        <li>An ability to acquire and apply new knowledge as needed, using appropriate learning strategies</li>
    </ul>


    <h4>Sources</h4>
    <ul>
        <li>
            Anderson, L. W., & Krathwohl, D. (Eds.). (2001). A taxonomy for
            learning, teaching, and assessing: A revision of Bloom's taxonomy
            of educational objectives. New York: Longman.
        </li>
        <li>
            Center for Excellence in Learning and Teaching (CELT). (2011). Revised
            Bloom Taxonomy. Iowa State University. Retrieved March 2019, from
            <a target="_blank" href="http://www.celt.iastate.edu/teaching/effective-teaching-practices/revised-blooms-taxonomy/">http://www.celt.iastate.edu/teaching/effective-teaching-practices/revised-blooms-taxonomy/</a>
        </li>
        <li>
            The Center for Faculty Development, University of Colorado. Assessment
            and Instructional Alignment. Retrieved March 2019, from:
            <a target="_blank" href="http://www.ucdenver.edu/faculty_staff/faculty/center-for-faculty-development/Documents/tutorials/Assessment/index.htm">http://www.ucdenver.edu/faculty_staff/faculty/center-for-faculty-development/Documents/tutorials/Assessment/index.htm</a>
        </li>
    </ul>

</div>
