<h2>Learning Objectives</h2>
<h4>At the end of this section, the following is expected:</h4>

<ol>
    <li>
        <span style="color: #ffab40; font-weight:600;">
            [CONDITION],
        </span>

        the student will be able to


        <span style="color: #980000; font-weight:600;">
            [ACTION]
        </span>


        <span style="color: #6d9eeb; font-weight:600;">
            [TASK]
        </span>


        <span style="color: #38761d; font-weight:600;">
            [DEGREE]
        </span>

        <span style="color: #999999; font-weight:600;">[LEARNING LEVEL]</span>
    </li>
</ol>

<h4>ABET outcomes</h4>
<ul>
    <li>
        [Specify relevant ABET outcomes for these Learning Objectives]
    </li>
</ul>
