
<!-- studio view for learning objectives xblock -->
<div class="HL_LO_xblock_studio editor-with-buttons">
    <!-- HTML editor tab -->
    <div id="HL_LO_xblock_content_wrapper" class="modal-content-wrapper">
        <div class="modal_tab_view modal_tab_editor" data-mode="editor">
            <div id="learning_obj_listing">
                <h3>Learning Objectives</h3>
                <div id="learning_obj_collection" class="objectives_listing"></div>

                <button id="add_new"><i class="fa fa-plus"></i> New Objective</button>
            </div>

            <div id="learning_obj_creation">

                <div id="editor-crumb">
                    <a id="cancel_new"> <i class="fa fa-arrow-left"></i> Discard New Learning Objective </a>
                </div>

                <div id="learning_obj_wizard">

                    <h2>Introduction</h2>
                    <section class="child_form">

                        <p>
                            The following Wizard will take you through the creation of learning
                            objectives for your unit. Learning objectives are generally made up
                            of 4 parts, although only the action and task are essential. The
                            4 parts are: (a) a condition under which students will perform the target
                            behavior; (b) an action verb that describes the behavior, these can be
                            categorized according to Bloom’s Taxonomy Learning Levels; (c) the task
                            itself, which builds on the action to more specifically describe the target
                            behavior; and (d) the degree to which you expect students to enact that
                            behavior. For instance, in the following objective, the condition is
                            underlined, the action is bolded, the task is italicized, and the degree
                            is normal text:
                        </p>
                        <p style="margin:1em; padding:.5em; background:#fff; border-radius: 7px;">
                            <span style="text-decoration: underline;">Given a diagram of the water cycle</span>,
                            the student will be able to
                            <span style="font-weight:bold;">Interpret</span>
                            <span style="font-style:italic;">at least three sources of groundwater recharge</span>
                            with a definition of each source and description of how it functions in
                            the larger water cycle.
                        </p>
                         <p>
                            As you progress through the Wizard, it will build your objective for you by prompting you to complete these four parts. It is important to note that both the condition and degree can be excluded from your objectives by clicking on the box below the textbox. Additionally, given the importance of tracking students’ progress towards meeting the ABET outcomes, we have also included in this Wizard the opportunity for you to link your unit objectives to the broader ABET outcomes.
                        </p>

                    </section>

                    <h2>Condition</h2>
                    <section class="child_form condition_form">
                        <div class="wizard_preview"></div>

                        <!--<h3>What's the condition?</h3>-->
                        <!--<label for="condition"><i>Describe the condition under which the student will perform the described behavior:</i></label>-->

                        <h3>Describe the condition under which the student will perform the described behavior:</h3>
                        <input id="condition" type="text" name="condition_input" value="" />

                        <!-- add option to exclude condition -->
                        <label><input type="checkbox" id="condition_exclude" /> Exclude Condition from this learning objective.</label>

                        <div class="accord_content">
                            <h3><i class="fa fa-info-circle"></i> Examples:</h3>
                            <div>
                                <ul>
                                    <li>Given a diagram of the water cycle </li>
                                    <li>Using historical rain gauge data from NOAA’s Precipitation Frequency Data Server (PFDS)</li>
                                    <li>Using the alternating block method and Intensity-Duration-Frequency (IDF) curves</li>
                                    <li>Using a script language</li>
                                </ul>
                            </div>
                        </div>
                    </section>

                    <h2>Action</h2>
                    <section class="child_form level_form">
                        <div class="wizard_preview"></div>

                        <p>Choose Bloom's Taxonomy Learning Level and the proper Action Verb:</p>

                        <div class="action_input"></div>

                        <div class="accord_content">
                            <h3>
                                <i class="fa fa-info-circle"></i> Bloom's Taxonomy Learning Level
                            </h3>
                            <div>
                                <table class="bloom_table">
                                    <tr>
                                        <th>Level</th>
                                        <th>Description</th>
                                        <th>Example Action Verbs</th>
                                    </tr>
                                    <tr>
                                        <td class="level1 whitetext bold">Level (1): Remembering</td>
                                        <td class="level1 whitetext">Retrieve relevant knowledge from long-term memory in the approximate form in which they were learned.</td>
                                        <td class="level1 whitetext">define, describe, identify, label, list, match, name, order, recall, select</td>
                                    </tr>
                                    <tr>
                                        <td class="level2 whitetext bold">Level (2): Understanding</td>
                                        <td class="level2 whitetext">Construct meaning from instructional messages. Translate, comprehend, or interpret information based on prior learning</td>
                                        <td class="level2 whitetext">illustrate, compare, distinguish, estimate, explain, classify, interpret, predict, summarize</td>
                                    </tr>
                                    <tr>
                                        <td class="level3 whitetext bold">Level (3): Applying</td>
                                        <td class="level3 whitetext">Carry out or use a procedure in a given situation. Select and use data and principles to complete a problem or task with a minimum of direction </td>
                                        <td class="level3 whitetext">organize, solve, demonstrate, discover, modify, operate, predict, prepare, produce, relate, solve, implement</td>
                                    </tr>
                                    <tr>
                                        <td class="level4 whitetext bold">Level (4): Analyzing</td>
                                        <td class="level4 whitetext">Break material into constituent parts and determine how parts relate to one another and to an overall structure or purpose. Distinguish, classify, and relate assumptions, hypotheses, evidence, or structure of a statement or question</td>
                                        <td class="level4 whitetext">analyze, break down, compare, select, contrast, deconstruct, discriminate, distinguishes, identify, outline</td>
                                    </tr>
                                    <tr>
                                        <td class="level5 whitetext bold">Level (5): Evaluating</td>
                                        <td class="level5 whitetext">Make judgments based on criteria or standards. Appraise, assess, or critique on a basis of specific standards and criteria</td>
                                        <td class="level5 whitetext">rank, assess, monitor, check, test, judge, appraise, criticize, defend, conclude, critique, justify, support</td>
                                    </tr>
                                    <tr>
                                        <td class="level6 whitetext bold">Level (6): Creating</td>
                                        <td class="level6 whitetext">Put elements together to form a coherent or functional whole; reorganize elements into a new pattern or structure. Originate, integrate, and combines ideas into a product, plan, or proposal that is new to learner</td>
                                        <td class="level6 whitetext">generate, plan, compose, develop, create, invent, organize, construct, produce, compile, design, devise</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </section>

                    <h2>Task</h2>
                    <section class="child_form task_form">
                        <div class="wizard_preview"></div>


                        <!--<h3>What is the TASK the learner has to do?</h3>-->
                        <!--<label for="task">-->
                            <!--<i>Describe the task, be as specific as possible</i>-->
                        <!--</label>-->

                        <h3>Describe the Task the learner is expected to do, be as specific as possible:</h3>
                        <input id="task" type="text" name="task_input" value="" />

                        <div class="accord_content">
                            <h3><i class="fa fa-info-circle"></i> Examples:</h3>
                            <div>
                                <ul>
                                    <li>Interpret at least three sources of ground water recharge</li>
                                    <li>Develop Depth-Duration-Frequency (DDF) curves</li>
                                    <li>Design an event storm hyetograph</li>
                                    <li>Construct a simple NWM-based flood warning tool</li>
                                </ul>
                            </div>
                        </div>
                    </section>

                    <h2>Degree</h2>
                    <section class="child_form degree_form">
                        <div class="wizard_preview"></div>

                        <!--<label for="degree">-->
                            <!--Describe the desired degree or level of performance.-->
                        <!--</label>-->
                        <h3>Describe the desired Degree or level of performance:</h3>
                        <input id="degree" type="text" name="degree_input" value="" />

                        <!-- add option to exclude condition -->
                        <label><input type="checkbox" id="degree_exclude" /> Exclude Degree from this learning objective.</label>
                        <div class="accord_content">
                            <h3><i class="fa fa-info-circle"></i> Examples:</h3>
                            <div>
                                <ul>
                                    <li>with a definition of each source and description of how it functions in the larger water cycle</li>
                                    <li>for at least 5 return periods between 2-year to 100-year</li>
                                    <li>with a pre-scribed temporal interval</li>
                                    <li>that notifies users when the NWM predicts above average streamflows in a particular region</li>
                                </ul>
                            </div>
                        </div>
                    </section>

                    <h2>ABET outcomes</h2>
                    <section class="child_form ABET_form">
                        <div class="wizard_preview"></div>

                        <h3>Select ABET Outcomes that correspond with this learning objective</h3>
                        <div class="abet_input"></div>
                    </section>

                    <h2>Review</h2>
                    <section class="child_form review_form">
                        <div class="wizard_preview"></div>

                        <h4>ABET Outcomes:</h4>
                        <div class="ABET_review"></div>
                    </section>

                </div>
            </div>


        </div>


        <!-- XBlock options -->
        <div class="modal_tab_view modal_tab_settings" data-mode="settings">
    		<!-- this seems like the form for modifying the model fields -->
            <p class="chx_desc">Display Name</p>
            <input type="text" class="settings_display_name" value="{{ self.display_name }}">
        </div>

    </div>

    <div class="xblock-actions">
        <ul>
          <li class="action-item">
            <a id="save_LOs" href="#" class="button action-primary save-button">Save</a>
          </li>
          <li class="action-item">
            <a href="#" class="button cancel-button">Cancel</a>
          </li>
        </ul>
      </div>


</div>

<!-- define the xblock actions (the markup is important) -->
