<!-- studio view for learning objectives xblock -->
<div class="HL_LO_xblock_studio">
    <!-- HTML editor tab -->
    <div class="modal_tab_view modal_tab_editor" data-mode="editor">
        <div class="condition_form">
            <h2>Condition</h2>
            <input type="text" name="condition_input" value="" />
        </div>

        <div class="level_form"></div>

        <div class="task_form">
            <h2>Task</h2>
            <input type="text" name="task_input" value="" />
        </div>

        <div class="degree_form">
            <h2>Degree</h2>
            <input type="text" name="degree_input" value="" />
        </div>

        <div class="ABET_form"></div>
    </div>

    <!-- XBlock options -->
    <div class="modal_tab_view modal_tab_settings" data-mode="settings">
		<!-- this seems like the form for modifying the model fields -->
        <p class="chx_desc">Display Name</p>
        <input type="text" class="chx_display_name" value="{{ self.display_name }}">
    </div>
</div>
