<!-- LMS view for Learning Objectives listing -->
<div class="HL_LO_xblock">
    <h2>Learning Objectives</h2>

    {% if self.learning_objs %}

        <h3>At the end of this section, the following is expected:</h3>
        <div class="objectives_listing"></div>
    {% else %}

        <p>
            Use this Wizard to develop and embed new Learning Objectives into
            your content. If you prefer to develop Learning Objectives without
            this Wizard, go back add them using the "Learning Objective Template".
        </p>

        <p>
            To start using the Wizard, click the "Edit" button in the toolbar
            and follow the specified steps.
        </p>


    {% endif %}
</div>
